<section>
  <header>
    <h2>Game Design and Development</h2>
    <span>Huge passion for game design and developement</span>
  </header>

  <div class="grid gamedesign-show-reel">
    <div class="primary">
        <video-player 
          name="Game-design-showreel-2015"
          header="2015 Game Design Show Reel">
        </video-player>
    </div>
  </div>

  <div class="grid the-abduction">
      
    <div class="primary">
        <video-player 
          name="The-Abduction-3DBuzz"
          header="The Abduction">
        </video-player>
    </div>

    <div class="photo wide" style="background-image: url('assets/webp/the-abduction-01.webp');"></div>
    <div class="photo" style="background-image: url('assets/webp/the-abduction-02.webp');"></div>
    <div class="photo" style="background-image: url('assets/webp/the-abduction-03.webp');"></div>

  </div>

  <div class="grid gamedesign-more-videos">

    <div class="primary">
        <video-player 
          name="Game-Prototype"
          header="Game Design Prototype">
        </video-player>
    </div>

    <div class="primary">
      <video-player 
        name="When-Mechs-Attack"
        header="When Mechs Attack">
      </video-player>
    </div>
  </div>

  <div class="grid gamedesign-more-images">
    <div data-src="https://via.placeholder.com/500x500" class="wide photo"><img src="assets/webp/game-design-more-images-01.webp"></div>
    <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/webp/game-design-more-images-02.webp');"></div>
    <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/webp/game-design-more-images-03.webp');"></div>
    <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/webp/game-design-more-images-04.webp');"></div>

    <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/webp/game-design-more-images-05.webp');"></div>
    <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/webp/game-design-more-images-06.webp');"></div>
    <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/webp/game-design-more-images-07.webp');"></div>
  </div>

  <icon-block 
    header = "Tools I use to build games"
    [icons] = "['Unity-Cross-Platform-Game-Engine', 'Autodesk-Maya','C-Sharp']">
  </icon-block>

</section>  