<section>
  <header>
    <h2>Photography</h2>
    <span>Acheiving professional results with minimal gear</span>
  </header>

  <div class="grid lightgallery photography-misc">
    
    <div data-src="assets/webp/photography-arya-white.webp" class="photo" style="grid-row: 1/9">
      <img src="assets/webp/photography-arya-white.webp">
      <div class="caption">
        <p>Arya White</p>
      </div>
    </div>

    <div data-src="assets/webp/photography-say-anything-2018.webp" class="photo" style="background-image: url('assets/webp/photography-say-anything-2018.webp');">
      <div class="caption">
        <p>Say Anything Melbourne 2018</p>
      </div>
    </div>

    <div data-src="assets/webp/photography-arya-at-bunnings.webp" class="photo" style="background-image: url('assets/webp/photography-arya-at-bunnings.webp');">
      <div class="caption">
        <p>Our Favourite Place</p>
      </div>
    </div>
    
    <div data-src="assets/webp/photography-afi-melbourne-2017.webp" class="photo" style="background-image: url('assets/webp/photography-afi-melbourne-2017.webp');">
      <div class="caption">
        <p>AFI Melbourne 2018</p>
      </div>
    </div>

    <div data-src="assets/webp/photography-01-full.webp" class="photo" style="background-image: url('assets/webp/photography-01.webp');">
      <div class="caption">
        <p>Justin &amp; Joy Aussie Wedding 2018</p>
      </div>
    </div>

    <div data-src="assets/webp/photography-02-full.webp" class="photo" style="background-image: url('assets/webp/photography-02.webp');">
      <div class="caption">
        <p>Toyota '86 Photoshoot</p>
      </div>
    </div>

    <div data-src="assets/webp/photography-03-full.webp" class="photo" style="background-image: url('assets/webp/photography-03.webp');"></div>
    <div data-src="assets/webp/photography-04-full.webp" class="photo" style="background-image: url('assets/webp/photography-04.webp');"></div>
    <div data-src="assets/webp/photography-05-full.webp" class="photo" style="background-image: url('assets/webp/photography-05.webp');"></div>
    <div data-src="assets/webp/photography-06-full.webp" class="photo" style="background-image: url('assets/webp/photography-06.webp');"></div>

  </div>
  
  <icon-block 
    header = "The gear I use"
    [icons] = "['Adobe-Lightroom', 'Sony-Make-Believe','Go-Pro']">
  </icon-block>

</section>