<side-bar></side-bar>

<div id="main-content">

  <div data-jarallax data-type="opacity" data-speed="0.5" class="jarallax" id="banner-image"></div>

  <section>
    <h1>Summer White</h1>
    <a class="mailer" href="mail:summerwhite@mail.com">summerwhite@mail.com</a><br>
    <a target="_blank" href="https://facebook.com/selfdirected">Facebook</a> - <a target="_blank" href="https://www.flickr.com/people/summerwhite/">Flickr</a> - <a href="#0">Resume</a>
    <p>Digital creative and programmer currently working as Lead Web Developer at Web Works Bendigo.</p>
  </section>

  <section>
    <header>
      <h2>Web Design &amp; Developement</h2>
      <span>Extensive experience with small business websites</span>
    </header>

    <section-header 
      title="Hotel Shamrock" 
      subTitle="Web Design / Photography / Custom Backend Functionality" 
      description="When we brought Hotel Shamrock it was a huge deal in our studio.">
    </section-header>

    <div class="grid lightgallery hotel-shamrock">

      <div class="primary">
        <video controls loop muted autoplay>
          <source src="assets/hotel-shamrock.mp4" type="video/mp4">
          <source src="assets/hotel-shamrock.webm" type="video/webm">
        </video>
        <div class="caption">
          <p>
            Hotel Shamrock
            <br>
            <sub>Web Design / Photography / Custom Backend Functionality</sub>
          </p>
        </div>
      </div>

      <div data-src="assets/hotel-shamrock-additional-01-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-01.jpg');"></div>
      <div data-src="assets/hotel-shamrock-additional-02-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-02.jpg');"></div>
      <div data-src="assets/hotel-shamrock-additional-03-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-03.jpg');"></div>
      <div data-src="assets/hotel-shamrock-additional-04-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-04.jpg');"></div>

    </div>


    <div class="grid more-webdesign">

      <div>
        <img src="assets/adrian-bassett-homes-primary.jpg">

        <div class="caption">
          <p>Adrian Bassett Homes</p>
        </div>
      </div>

      <div>
        <img src="assets/seal-a-fridge-nv-primary.jpg">
        <div class="caption">
          <p>Seal-A-Fridge Northern Victoria</p>
        </div>
      </div>

      <div>
        <img src="assets/braidies-tavern-primary.jpg">
        <div class="caption">
          <p>Braidies Tavern</p>
        </div>
      </div>

    </div>

    <div class="grid lightgallery taylors-paint">

      <div data-src="assets/taylors-paint-and-customs-additional-01-full.jpg" class="photo wide" style="background-image: url('assets/taylors-paint-and-customs-additional-01.jpg');"></div>
      <div data-src="assets/taylors-paint-and-customs-additional-02-full.jpg" class="photo" style="background-image: url('assets/taylors-paint-and-customs-additional-02.jpg');"></div>
      <div data-src="assets/taylors-paint-and-customs-additional-03-full.jpg" class="photo" style="background-image: url('assets/taylors-paint-and-customs-additional-03.jpg');"></div>

      <div class="primary">
        <img src="assets/taylors-paint-and-customs-primary.jpg">

        <div class="caption">
          <p>
            Taylors Paint &amp; Customs
            <br>
            <sub>Web Design / Photography</sub>
          </p>
        </div>
      </div>

    </div>

    <div class="grid more-webdesign">

      <div>
        <img src="assets/adrian-bassett-homes-primary.jpg">

        <div class="caption">
          <p>Adrian Bassett Homes</p>
        </div>
      </div>

      <div>
        <img src="assets/seal-a-fridge-nv-primary.jpg">
        <div class="caption">
          <p>Seal-A-Fridge Northern Victoria</p>
        </div>
      </div>

      <div>
        <img src="assets/braidies-tavern-primary.jpg">
        <div class="caption">
          <p>Braidies Tavern</p>
        </div>
      </div>

      <div>
        <img src="assets/john-whitford-primary.jpg">
        <div class="caption">
          <p>John Whitford</p>
        </div>
      </div>

      <div>
        <img src="assets/bendigo-precast-concrete-primary.jpg">
        <div class="caption">
          <p>Bendigo Precast Concrete</p>
        </div>
      </div>

      <div>
        <img src="assets/braidies-tavern-primary.jpg">
        <div class="caption">
          <p>Braidies Tavern</p>
        </div>
      </div>

    </div>

    <icon-block 
      header = "Full stack / Front End / Server Side Tools"
      [icons] = "['Adobe-Photoshop','Adobe-XD','Angular','HTML5','CSS3','jQuery-Write-Less-Do-More','Linux-Tux','PHP-Hypertext-Preprocessor','VS-Code','git','Team Viewer','Node-JS-Javascript-Runtime']">
    </icon-block>
  </section>


  <section>
    <header>
      <h2>Photography</h2>
      <span>Acheiving professional results with minimal gear</span>
    </header>

    <div class="grid lightgallery photography-misc">
      
      <div data-src="assets/photography-arya-white.jpg" class="photo">
        <img src="assets/photography-arya-white.jpg">
        <div class="caption">
          <p>Arya White</p>
        </div>
      </div>

      <div data-src="assets/photography-say-anything-2018.jpg" class="photo" style="background-image: url('assets/photography-say-anything-2018.jpg');">
        <div class="caption">
          <p>Say Anything Melbourne 2018</p>
        </div>
      </div>

      <div data-src="assets/photography-arya-at-bunnings.jpg" class="photo" style="background-image: url('assets/photography-arya-at-bunnings.jpg');">
        <div class="caption">
          <p>Our Favourite Place</p>
        </div>
      </div>
      
      <div data-src="assets/photography-afi-melbourne-2017.jpg" class="photo" style="background-image: url('assets/photography-afi-melbourne-2017.jpg');">
        <div class="caption">
          <p>AFI Melbourne 2018</p>
        </div>
      </div>


    </div>

    <section-header title="Justins &amp; Joy Hogan's Wedding 2018" subTitle="Friends wedding photography"></section-header>

    <div class="grid lightgallery justins-wedding">
      <div data-src="assets/photography-01-full.jpg" class="photo"><img src="assets/photography-01.jpg"></div>
      <div data-src="assets/photography-02-full.jpg" class="photo" style="background-image: url('assets/photography-02.jpg');"></div>

      <div data-src="assets/photography-03-full.jpg" class="photo" style="background-image: url('assets/photography-03.jpg');"></div>
      <div data-src="assets/photography-04-full.jpg" class="photo" style="background-image: url('assets/photography-04.jpg');"></div>
      <div data-src="assets/photography-05-full.jpg" class="photo" style="background-image: url('assets/photography-05.jpg');"></div>
      <div data-src="assets/photography-06-full.jpg" class="photo" style="background-image: url('assets/photography-06.jpg');"></div>
    </div>

    <icon-block 
      header = "The gear I use"
      [icons] = "['Adobe-Lightroom', 'Sony-Make-Believe','Go-Pro']">
    </icon-block>

  </section>



</div>

<footer id="footer">
  <contact-section></contact-section>

  <div></div>
</footer>
