<side-bar></side-bar>

<div id="main-content">

  <!-- <div data-jarallax data-type="opacity" data-speed="0.5" class="jarallax" id="banner-image"></div> -->

  <section id="intro">
    <h1>Summer White</h1>
    <a class="mailer" href="mail:summerwhite@mail.com">summerwhite@mail.com</a><br>
    <a target="_blank" href="https://facebook.com/selfdirected">Facebook</a> - <a target="_blank" href="https://www.flickr.com/people/summerwhite/">Flickr</a>

    <div class="grid summer-white">
      <div class="photo"><img src="assets/summer-01.jpg"></div>
      <div class="photo" style="background-image: url('assets/summer-03.jpg');"></div>
      <div class="photo" style="background-image: url('assets/summer-02.jpg');"></div>
      <div class="photo cover-photo" style="background-image: url('assets/cover-photo.png');"></div>
    </div>

    <p>
      Currently working at <a href="http://webworksau.com.au/">Web Works</a> in Bendigo Australia as a Lead Web Designer. Building small to medium sized business websites
      from design to completion and providing on going technical support.
    </p>
    <p>
      I am seeking oppunities to work on projects involving Angular or RESTful/SPA like applications.
    </p>
  </section>

  <section>
    <header>
      <h2>Web Design &amp; Development</h2>
      <span>Extensive experience with small business websites</span>
    </header>

    <section-header 
      title="Hotel Shamrock" 
      subTitle="Web Design / Photography / Custom Backend Functionality" 
      description="When we brought Hotel Shamrock it was a huge deal in our studio.">
    </section-header>

    <div class="grid lightgallery hotel-shamrock">

      <div class="primary">

        <video-player name="hotel-shamrock"></video-player>

        <div class="caption">
          <p>
            Hotel Shamrock
            <br>
            <sub>Web Design / Photography / Custom Backend Functionality</sub>
          </p>
        </div>
      </div>

      <div data-src="assets/hotel-shamrock-additional-01-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-01.jpg');"></div>
      <div data-src="assets/hotel-shamrock-additional-02-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-02.jpg');"></div>
      <div data-src="assets/hotel-shamrock-additional-03-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-03.jpg');"></div>
      <div data-src="assets/hotel-shamrock-additional-04-full.jpg" class="photo" style="background-image: url('assets/hotel-shamrock-additional-04.jpg');"></div>

    </div>


    <div class="grid more-webdesign">

      <div>
        <img src="assets/adrian-bassett-homes-primary.jpg">

        <div class="caption">
          <p>Adrian Bassett Homes</p>
        </div>
      </div>

      <div>
        <img src="assets/seal-a-fridge-nv-primary.jpg">
        <div class="caption">
          <p>Seal-A-Fridge Northern Victoria</p>
        </div>
      </div>

      <div>
        <img src="assets/braidies-tavern-primary.jpg">
        <div class="caption">
          <p>Braidies Tavern</p>
        </div>
      </div>

    </div>

    <div class="grid lightgallery taylors-paint">

      <div data-src="assets/taylors-paint-and-customs-additional-01-full.jpg" class="photo wide" style="background-image: url('assets/taylors-paint-and-customs-additional-01.jpg');"></div>
      <div data-src="assets/taylors-paint-and-customs-additional-02-full.jpg" class="photo" style="background-image: url('assets/taylors-paint-and-customs-additional-02.jpg');"></div>
      <div data-src="assets/taylors-paint-and-customs-additional-03-full.jpg" class="photo" style="background-image: url('assets/taylors-paint-and-customs-additional-03.jpg');"></div>

      <div class="primary">
        <video-player name="taylors-custom-paints"></video-player>

        <div class="caption">
          <p>
            Taylors Paint &amp; Customs
            <br>
            <sub>Stylised inspired workshop website</sub>
          </p>
        </div>
      </div>

    </div>

    <div class="grid more-webdesign">

      <div>
        <img src="assets/classique-ski-boats.jpg">

        <div class="caption">
          <p>Classique Ski Boats</p>
        </div>
      </div>

      <div>
        <img src="assets/fabline.jpg">
        <div class="caption">
          <p>FAB Line</p>
        </div>
      </div>

      <div>
        <img src="assets/bendigo-window-furnishings.jpg">
        <div class="caption">
          <p>Bendigo Window Furnishings</p>
        </div>
      </div>

    </div>

    <div class="grid lightgallery two-blocks-webdesign">

      <div>
        <video-player name="bendigo-repair-cafe"></video-player>

        <div class="caption">
          <p>
            Bendigo Repair Cafe
            <br>
            <sub>Free community website</sub>
          </p>
        </div>
      </div>

      <div>
        <video-player name="eaglehawk-football-netball-club"></video-player>

        <div class="caption">
          <p>
            Eaglehawk Football Netball Club
            <br>
            <sub>Club Website</sub>
          </p>
        </div>
      </div>

    </div>
    

    <icon-block 
      header = "Full stack / Front End / Server Side Tools"
      [icons] = "['Adobe-Photoshop','Adobe-XD','Angular','HTML5','CSS3','jQuery-Write-Less-Do-More','Linux-Tux','PHP-Hypertext-Preprocessor','VS-Code','git','Team Viewer','Node-JS-Javascript-Runtime']">
    </icon-block>
  </section>


  <section>
    <header>
      <h2>Photography</h2>
      <span>Acheiving professional results with minimal gear</span>
    </header>

    <div class="grid lightgallery photography-misc">
      
      <div data-src="assets/photography-arya-white.jpg" class="photo">
        <img src="assets/photography-arya-white.jpg">
        <div class="caption">
          <p>Arya White</p>
        </div>
      </div>

      <div data-src="assets/photography-say-anything-2018.jpg" class="photo" style="background-image: url('assets/photography-say-anything-2018.jpg');">
        <div class="caption">
          <p>Say Anything Melbourne 2018</p>
        </div>
      </div>

      <div data-src="assets/photography-arya-at-bunnings.jpg" class="photo" style="background-image: url('assets/photography-arya-at-bunnings.jpg');">
        <div class="caption">
          <p>Our Favourite Place</p>
        </div>
      </div>
      
      <div data-src="assets/photography-afi-melbourne-2017.jpg" class="photo" style="background-image: url('assets/photography-afi-melbourne-2017.jpg');">
        <div class="caption">
          <p>AFI Melbourne 2018</p>
        </div>
      </div>


    </div>

    <section-header title="Justins &amp; Joy Hogan's Wedding 2018" subTitle="Friends wedding photography"></section-header>

    <div class="grid lightgallery justins-wedding">
      <div data-src="assets/photography-01-full.jpg" class="photo">
        <img src="assets/photography-01.jpg">
        <div class="caption">
          <p>Justin &amp; Joy Aussie Wedding 2018</p>
        </div>
      </div>
      <div data-src="assets/photography-02-full.jpg" class="photo" style="background-image: url('assets/photography-02.jpg');">
        <div class="caption">
          <p>Toyota '86 Photoshoot</p>
        </div>
      </div>

      <div data-src="assets/photography-03-full.jpg" class="photo" style="background-image: url('assets/photography-03.jpg');"></div>
      <div data-src="assets/photography-04-full.jpg" class="photo" style="background-image: url('assets/photography-04.jpg');"></div>
      <div data-src="assets/photography-05-full.jpg" class="photo" style="background-image: url('assets/photography-05.jpg');"></div>
      <div data-src="assets/photography-06-full.jpg" class="photo" style="background-image: url('assets/photography-06.jpg');"></div>
    </div>

    <icon-block 
      header = "The gear I use"
      [icons] = "['Adobe-Lightroom', 'Sony-Make-Believe','Go-Pro']">
    </icon-block>

  </section>

  <section>
    <header>
      <h2>Game Design and Development</h2>
      <span>Huge passion for game design and developement</span>
    </header>

    <div class="grid gamedesign-show-reel">

      <div class="primary">
        <div class="youtube"><iframe src="https://www.youtube.com/embed/ggGJmzer0yE?allowfullscreen=true&wmode=transparent&iv_load_policy=3&html5=1&widgetid=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        
        <div class="video-caption">
          <p>
            2015 Game Design Show Reel
          </p>
        </div>
      </div>
    </div>

    <div class="grid the-abduction">

      <div class="primary">
        <div class="youtube"><iframe src="https://www.youtube.com/embed/qXf2bLc1aa4?allowfullscreen=true&wmode=transparent&iv_load_policy=3&html5=1&widgetid=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        
        <div class="video-caption">
          <p>
            The Abduction
          </p>
        </div>
      </div>

      <div class="photo wide" style="background-image: url('assets/the-abduction-01.jpg');"></div>
      <div class="photo" style="background-image: url('assets/the-abduction-02.jpg');"></div>
      <div class="photo" style="background-image: url('assets/the-abduction-03.jpg');"></div>

    </div>

    <div class="grid gamedesign-more-videos">

      <div class="primary">
        <div class="youtube"><iframe src="https://www.youtube.com/embed/mQ9TMUXSNGU?allowfullscreen=true&wmode=transparent&iv_load_policy=3&html5=1&widgetid=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        
        <div class="video-caption">
          <p>
            Game Design Prototype
          </p>
        </div>
      </div>

      <div class="primary">
        <div class="youtube"><iframe src="https://www.youtube.com/embed/4LreNug4yX0?allowfullscreen=true&wmode=transparent&iv_load_policy=3&html5=1&widgetid=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        
        <div class="video-caption">
          <p>
            When Mechs Attack
          </p>
        </div>
      </div>
    </div>

    <div class="grid gamedesign-more-images">
      <div data-src="https://via.placeholder.com/500x500" class="wide photo"><img src="assets/game-design-more-images-01.jpg"></div>
      <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/game-design-more-images-02.jpg');"></div>
      <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/game-design-more-images-03.jpg');"></div>
      <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/game-design-more-images-04.jpg');"></div>

      <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/game-design-more-images-05.jpg');"></div>
      <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/game-design-more-images-06.jpg');"></div>
      <div data-src="https://via.placeholder.com/500x500" class="photo" style="background-image: url('assets/game-design-more-images-07.jpg');"></div>
    </div>

    <icon-block 
      header = "Tools I use to build games"
      [icons] = "['Unity-Cross-Platform-Game-Engine', 'Autodesk-Maya','C-Sharp']">
    </icon-block>

  </section>  



  <section *ngIf="false">

    <header>
      <h2>Fabrication and Engineering</h2>
      <span>Trade Qualified Sheet Metal Fabricator</span>
    </header>


    <icon-block 
      header = "Tools I use to build games"
      [icons] = "['Unity-Cross-Platform-Game-Engine', 'Autodesk-Maya','C-Sharp']">
    </icon-block>
    
  </section>



</div>

<footer id="footer">
  <p>Summer White <span title="Copyleft, no copyright" class="copyleft">&copy;</span> {{year}}
</footer>
