<side-bar></side-bar>

<div id="main-content">

  <section id="intro">
    <h1>Summer White</h1>
    <a class="mailer" href="mail:summerwhite@mail.com">summerwhite@mail.com</a><br>
    <a target="_blank" href="https://facebook.com/selfdirected">Facebook</a> - <a target="_blank" href="https://www.flickr.com/people/summerwhite/">Flickr</a>

    <div class="accordion">
        <ul>
            <li class="web-design">
                <div>
                    <a routerLink="/web-design">
                        <h2>Web Design</h2>
                    </a>
                </div>
            </li>
            <li class="photography">
                <div>
                    <a routerLink="/photography">
                        <h2>Photography</h2>
                    </a>
                </div>
            </li>
            <li class="game-design">
                <div>
                    <a routerLink="/game-design">
                        <h2>Game Design</h2>
                    </a>
                </div>
            </li>
            <li class="fabrication">
                <div>
                    <a routerLink="/fabrication">
                        <h2>Fabrication</h2>
                    </a>
                </div>
            </li>
            <li class="about">
                <div>
                    <a routerLink="/about">
                        <h2>About</h2>
                    </a>
                </div>
            </li>
        </ul>
    </div>

  </section>


  <router-outlet></router-outlet>


  <section *ngIf="false">

    <header>
      <h2>Fabrication and Engineering</h2>
      <span>Trade Qualified Sheet Metal Fabricator</span>
    </header>


    <icon-block 
      header = "Tools I use to build games"
      [icons] = "['Unity-Cross-Platform-Game-Engine', 'Autodesk-Maya','C-Sharp']">
    </icon-block>
    
  </section>



</div>

<footer id="footer">
  <p>Summer White <span title="Copyleft, no copyright" class="copyleft">&copy;</span> {{year}}
</footer>
