#main-content section {
    margin-bottom: 10rem;
}

#main-content section > header {
    margin: 4rem 0 3rem 0;
    text-align: center;
}

#main-content section > header h1 {
    line-height: 2.5rem;
}

#main-content section > header h2 {
    font-size: var(--section-header-size);
    margin: 0;
    margin-bottom: 0.4rem;
    line-height: 2.5rem;
}

#main-content section > header span {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

#main-content section > header p {
    font-size: 1.2rem;
    font-weight: lighter;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1.7rem;

    @media (max-width: 990px) {
        width: 100%;
        font-size: 1rem;
    }
}

#content-nav {
    border: 1px solid red;
    display: flex;

    a {
        border: 1px solid red;
    }
}

.grid {
    display: grid;
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.lightgallery .photo {
    box-sizing: border-box;
    cursor: pointer;
    transition: margin 0.2s, border 0.2s;
    transition-timing-function: ease-in-out;
}

.lightgallery .photo:hover {
    margin: -0.8rem;
}

.grid > .primary {
    background-size: 100% auto;
}

.grid > .photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
}

.grid > div {
    background-color: var(--content-background);    
    position: relative;
}

.grid > div img {
    width: 100%;
}

.grid > div > .caption, .grid > div > .video-caption {
    text-align: center;
}

.grid > div > .caption > p  {
    font-family: roboto;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    background-color: #2D393F;
    margin: 0;
    box-shadow: 0 2px 2px #000;
    width: 100%;
    padding: 0.6rem 0 0.5rem 0;
    position: absolute;
    bottom: 0;

    @media (max-width: 700px) {
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.3rem;
        padding: 0.3rem 0 0.1rem 0;
    }
}

.two-blocks-webdesign {
    grid-template-columns: repeat(2, 1fr);
}

section#intro {
    text-align: center;
    margin-bottom: 3rem !important;
}

section#intro h1 {
    font-size: 5rem;
    width: 100%;
    line-height: 2.5rem;
    margin-top: 5rem;
    transition: font-size 1s;
}

section#intro>a {
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: lighter;
}




.controls {
    border: 1px solid red;
}

/* Break Point when sidebar turns off */
@media(max-width: 800px) {
    #banner-image {
        margin: 0 -1rem;
    }
}

/* Break point for mobile phones */
@media (max-width: 700px) {
    #main-content>section {
        margin-bottom: 5rem;
    }

    section#intro h1 {
        font-size: 3.5rem;
        margin: 4rem 0 1rem 0;
    }

    #banner-image {
        height: 250px;
    }

    #main-content > section > header h2 {
        font-size: 2rem;
    }

    #main-content > section > header span {
        font-size: 0.9rem;
    }

    .grid {
        grid-gap: 0.8rem;
        width: 100%;
        transition: width 1s;
    }
}

@media (max-width: 500px) {
    section#intro {
        margin-bottom: 3rem !important;
    }

    section#intro h1 {
        font-size: 2.5rem;
    }

    section#intro>a {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    section#intro>p {
        width: 100%;
        margin: 2rem auto;
    }

    #intro>.summer-white {
        margin: 1.5rem 0 0 0;
    }
}


.accordion {
    width: 80%;
    height: 140px;
    overflow: visible;
    margin: 3rem auto 3rem auto;

    @media (max-width: 990px) {
        height: inherit;
    }
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
    background-color: transparent;
    background-size: 5vw !important;

    @media (max-width: 990px) {
        display: table-row;
    }
}

.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}

.accordion ul li div a {
    display: block;
    height: 140px;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0px;
    top: 95px;
}

.accordion ul li div a p {
    top: 160px;
    font-size: 13.5px;
}

.accordion ul:hover li {
    width: 8%;
    background-size: 3vw !important;
}

.accordion ul:hover li:hover {
    width: 12%;
    background-size: 7vw !important;
}

.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.accordion {

    .web-design {
        background: #21292E url("../assets/icn/web-design.png") center center no-repeat;
    }

    .photography {
        background: #293238 url("../assets/icn/photography.png") center center no-repeat;
    }

    .game-design {
        /*background-color: #e94132;*/
        background: #21292E url("../assets/icn/game-design.png") center center no-repeat;
    }

    .fabrication {
        /*background-color: #ff4500;*/
        background: #293238 url("../assets/icn/fabrication.png") center center no-repeat;
    }

    .about {
        background-color: #088a3f;
        background: #21292E url("../assets/icn/about.png") center center no-repeat;
    }
}

section > .visit {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: lighter;
}

// #reddit {
//     /*background-color: #ff4500;*/
//     background: #ff4500 url("../assets/icn/reddit.png") center center no-repeat;
// }

// #youtube {
//     background-color: #cd201f;
//     background: #cd201f url("../assets/icn/youtube.png") center center no-repeat;
// }

// #soundcloud {
//     background-color: #ff8800;
//     background: #ff5510 url("../assets/icn/soundcloud.png") center center no-repeat;
// }

// #utorrent {
//     background-color: #088a3f;
//     background: #088a3f url("../assets/icn/utorrent.png") center center no-repeat;
// }

// #duolingo {
//     background-color: #78c800;
//     background: #78c800 url("../assets/icn/duolingo.png") center center no-repeat;
// }