
  <div class="grid">


    <form method="POST" action="#0">
      <div class="input-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
      </div>

      <div class="input-group">
        <label>Contact</label>
        <input name="contact" type="text">
      </div>

      <div class="input-group">
        <label>Message</label>
        <textarea name="message"></textarea>
      </div>

      <input type="submit" value="Send message">
    </form>

    <div class="social">
      <p>Test</p>
    </div>
    
  </div>
