<section>
  <header>
    <h2>Fabrication</h2>
    <p>
        I completed an apprenticship in 2014 while working at MaxiTRANS.

    </p>
  </header>

  <div class="grid lightgallery fabrication">
    
    <div data-src="assets/fabrication/maxitrans-group-photo-full.jpg" class="photo">
      <img src="assets/fabrication/maxitrans-group-photo.jpg">
      <div class="caption">
        <p>MaxiTRANS 2014</p>
      </div>
    </div>

    <div data-src="assets/fabrication/maxitrans-4-full.jpg" class="photo" style="background-image: url('assets/fabrication/maxitrans-4.jpg');"></div>
    <div data-src="assets/fabrication/maxitrans-2-full.jpg" class="photo" style="background-image: url('assets/fabrication/maxitrans-2.jpg');"></div>
    <div data-src="assets/fabrication/maxitrans-1-full.jpg" class="photo" style="background-image: url('assets/fabrication/maxitrans-1.jpg');"></div>
    <div data-src="assets/fabrication/maxitrans-3-full.jpg" class="photo" style="background-image: url('assets/fabrication/maxitrans-3.jpg');"></div>

    <div data-src="assets/fabrication/custom-made-rack-full.jpg"  style="background-image: url('assets/fabrication/custom-made-rack.jpg');" class="photo">
      <div class="caption">
        <p>Custom made rack</p>
      </div>
    </div>

    <div data-src="assets/fabrication/custom-made-rack-before-full.jpg"  style="background-image: url('assets/fabrication/custom-made-rack-before.jpg');" class="photo">
      <div class="caption">
        <p>Before</p>
      </div>
    </div>

    <div data-src="assets/fabrication/custom-made-rack-after-full.jpg"  style="background-image: url('assets/fabrication/custom-made-rack-after.jpg');" class="photo">
      <div class="caption">
        <p>After</p>
      </div>
    </div>

    <div data-src="assets/fabrication/ramp-built-full.jpg"  style="background-image: url('assets/fabrication/ramp-built.jpg');" class="photo">
      <div class="caption">
        <p>Ramp Build</p>
      </div>
    </div>

    <div data-src="assets/fabrication/ramp-render-full.jpg"  style="background-image: url('assets/fabrication/ramp-render.jpg');" class="photo">
      <div class="caption">
        <p>Render from Inventor</p>
      </div>
    </div>

    <div data-src="assets/fabrication/ramp-inventor-screenshot-full.jpg"  style="background-image: url('assets/fabrication/ramp-inventor-screenshot.jpg');" class="photo">
      <div class="caption">
        <p>Complete Parametric Model</p>
      </div>
    </div>
    <div data-src="assets/fabrication/ramp-drawing-configuration-full.jpg"  style="background-image: url('assets/fabrication/ramp-drawing-configuration.jpg');" class="photo"></div>
    <div data-src="assets/fabrication/ramp-drawing-quater-full.jpg"  style="background-image: url('assets/fabrication/ramp-drawing-quater.jpg');" class="photo"></div>

  </div>

  <icon-block 
    header = "Focusing on parametric designs"
    [icons] = "['Autodesk-Inventor', 'Sketchup-3D-Modelling-For-Everyone']">
  </icon-block>

</section>