<section>
  <header>
    <h2>Web Design &amp; Development</h2>
    <span>Extensive experience with small business websites</span>
  </header>

  <div class="grid hotel-shamrock lightgallery">

    <div class="primary">

      <video-player 
        name="hotel-shamrock"
        header="Hotel Shamrock" 
        subHeader="Web Design / Photography / Custom Backend Functionality">
      </video-player>

    </div>

    <div data-src="assets/webp/hotel-shamrock-additional-01-full.webp" class="photo photo-1" style="background-image: url('assets/webp/hotel-shamrock-additional-01.webp');"></div>
    <div data-src="assets/webp/hotel-shamrock-additional-02-full.webp" class="photo photo-2" style="background-image: url('assets/webp/hotel-shamrock-additional-02.webp');"></div>
    <div data-src="assets/webp/hotel-shamrock-additional-03-full.webp" class="photo photo-3" style="background-image: url('assets/webp/hotel-shamrock-additional-03.webp');"></div>
    <div data-src="assets/webp/hotel-shamrock-additional-04-full.webp" class="photo photo-4" style="background-image: url('assets/webp/hotel-shamrock-additional-04.webp');"></div>

  </div>


  <div class="grid more-webdesign">

    <div class="item-1">
      <img src="assets/webp/adrian-bassett-homes-primary.webp">

      <div class="caption">
        <p>Adrian Bassett Homes</p>
      </div>
    </div>

    <div class="item-2">
      <img src="assets/webp/seal-a-fridge-nv-primary.webp">
      <div class="caption">
        <p>Seal-A-Fridge Northern Victoria</p>
      </div>
    </div>

    <div class="item-3">
      <img src="assets/webp/braidies-tavern-primary.webp">
      <div class="caption">
        <p>Braidies Tavern</p>
      </div>
    </div>

  </div>

  <div class="taylors-paint grid lightgallery">

    <div data-src="assets/webp/taylors-paint-and-customs-additional-01-full.webp" class="photo wide" style="background-image: url('assets/webp/taylors-paint-and-customs-additional-01.webp');"></div>
    <div data-src="assets/webp/taylors-paint-and-customs-additional-02-full.webp" class="photo photo-1" style="background-image: url('assets/webp/taylors-paint-and-customs-additional-02.webp');"></div>
    <div data-src="assets/webp/taylors-paint-and-customs-additional-03-full.webp" class="photo photo-2" style="background-image: url('assets/webp/taylors-paint-and-customs-additional-03.webp');"></div>

    <div class="primary">
      <video-player 
        name="taylors-custom-paints"
        header="TAYLORS PAINT &amp; CUSTOMS " 
        subHeader="STYLISED INSPIRED WORKSHOP WEBSITE">
      </video-player>

    </div>

  </div>

  <div class="grid more-webdesign">

    <div class="item-1">
      <img src="assets/webp/classique-ski-boats.webp">

      <div class="caption">
        <p>Classique Ski Boats</p>
      </div>
    </div>

    <div class="item-2">
      <img src="assets/webp/fabline.webp">
      <div class="caption">
        <p>FAB Line</p>
      </div>
    </div>

    <div class="item-3">
      <img src="assets/webp/bendigo-window-furnishings.webp">
      <div class="caption">
        <p>Bendigo Window Furnishings</p>
      </div>
    </div>

  </div>

  <div class="grid lightgallery two-blocks-webdesign">

    <div>
      <video-player 
        name="bendigo-repair-cafe"
        header="Bendigo Repair Cafe" 
        subHeader="Free community website">
      </video-player>
    </div>

    <div>
      <video-player 
        name="eaglehawk-football-netball-club"
        header="Eaglehawk Football Netball Club" 
        subHeader="Club Website">
      </video-player>
    </div>

  </div>
  

  <icon-block 
    header = "Full stack / Front End / Server Side Tools"
    [icons] = "['Adobe-Photoshop','Adobe-XD','Angular','HTML5','CSS3','jQuery-Write-Less-Do-More','Linux-Tux','PHP-Hypertext-Preprocessor','VS-Code','git','Team Viewer','Node-JS-Javascript-Runtime']">
  </icon-block>
</section>