<section id="about">
  <header>
    <h2>About</h2>
    <span>Huge passion for game design and developement</span>
  </header>

  <div class="grid summer-white">
    <div class="photo"><img src="assets/webp/summer-01.webp"></div>
    <div class="photo" style="background-image: url('assets/webp/summer-03.webp');"></div>
    <div class="photo" style="background-image: url('assets/webp/summer-02.webp');"></div>
    <div class="photo cover-photo" style="background-image: url('assets/webp/cover-photo.webp');"></div>
  </div>

  <p>
    Currently working at <a href="http://webworksau.com.au/">Web Works</a> in Bendigo Australia as a Lead Web Designer. Building small to medium sized business websites
    from design to completion and providing on going technical support.
  </p>
  <p>
    I am seeking new opportunities to work on projects involving Angular or RESTful/SPA like applications.
  </p>
</section>