<div id="burger-button" (click)="toggle()">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div id="side-bar" [ngClass]="!open ? 'sidebar-opened' : ''">
  <div id="close" (click)="toggle()">
    Hide
  </div>

  <header>
    <h2>Summer White</h2>
    <a class="mail" href="mail:summerwhite@mail.com">summerwhite@mail.com</a>
  </header>
  
  <h3>Professional Experience</h3>

  <div class="row">
    <div class="title">Web Works</div>
    <div class="years" title="3 years">2016 - Current</div>
    <div class="subtitle">Senior Web Developer</div>
  </div>

  <div class="row">
    <div class="title">NEWCO</div>
    <div class="years" title="1 year">2015 - 2016</div>
    <div class="subtitle">CNC Press Brake Operator</div>
  </div>

  <div class="row">
    <div class="title">MAXITRANS</div>
    <div class="years" title="3 years">2011 - 2014</div>
    <div class="subtitle">Apprentice Sheet Metal Worker</div>
  </div>

  <h3>Education &amp; Training</h3>

  <div class="row">
    <div class="title">Swinburne University</div>
    <div class="subtitle">Certificate IV Interactive Entertainment</div>
  </div>

  <div class="row">
    <div class="title">University of Ballarat</div>
    <div class="subtitle">Certificate III in Engineering</div>
  </div>

  <h3>About me</h3>

  <p class="about">
    Self taught, independent thinker and hard worker with years of practical on the job experience. Programming since the age
    of 14 years old with experience ranging from engineering, fabrication, design and web technologies to name a few. Blue collar 
    attitude who enjoys being on the tools solving problems.
  </p>

  <div class="links">
    <a target="_blank" href="https://facebook.com/selfdirected">Facebook</a> - <a target="_blank" href="https://www.flickr.com/people/summerwhite/">Flickr</a>
  </div>

</div>
